.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.rightSection {
  display: flex;
  align-items: center;
}

.downloadContainer {
  margin-right: 2rem;
}

.downloadButton {
  text-transform: none;
}

.themeToggle {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 3px 12px;
  height: 32px;
  transition: all 0.3s ease;
}

.themeIcon {
  color: #fff;
  font-size: 1.1rem;
  margin-right: 8px;
}

.themeSwitch {
  margin: 0;
}

.themeSwitch :global(.MuiSwitch-switchBase) {
  padding: 4px;
}

.themeSwitch :global(.MuiSwitch-thumb) {
  background-color: white;
  width: 16px;
  height: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-top: 25%;
}

.themeSwitch :global(.MuiSwitch-track) {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  opacity: 1;
  height: 10px;
  width: 25px;
}

.themeSwitch :global(.MuiSwitch-root) {
  width: 52px;
}

:global(body.dark-mode) .header {
  background-color: #1c1c1c;
  color: #e0e0e0;
}

:global(body.dark-mode) .themeToggle {
  background-color: rgba(255, 255, 255, 0.1);
}

:global(body.dark-mode) .themeIcon {
  color: #fff;
}

@media (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .hamburger {
    position: absolute;
    left: 1rem;
  }
}


